  <% if (isDropboxConfigured) { %>
  <li ng-controller="Dropbox as dropbox">
    <% if (isDropboxAuth) { %>
      <a href="#" class="import-dropbox linked" ng-click="dropbox.importFile()">
    <% } else { %>
      <a href="/redirect/dropbox" class="import-dropbox unlinked">
    <% } %>
      <span>Dropbox</span>
      <span class="icon icon-link"><%- include ../icons/linked %></span>
    </a>
  </li>
  <% } %>

  <% if (isGithubConfigured) { %>
  <li ng-controller="Github as github">
    <% if (isGithubAuth) { %>
      <a href="#" class="import-github linked" ng-click="github.importFile('<%= github_username %>')">
    <% } else { %>
      <a href="/redirect/github"  class="import-github unlinked">
    <% } %>
      <span>Github</span>
      <span class="icon icon-link"><%- include ../icons/linked %></span>
    </a>
  </li>
  <% } %>

  <li>
    <a href="#" class="import-google-drive unlinked">
      <span>Google Drive</span>
      <span class="icon icon-link"><%- include ../icons/linked %></span>
    </a>
  </li>
  <li>
    <a href="#" class="import-one-drive unlinked">
      <span>One Drive</span>
      <span class="icon icon-link"><%- include ../icons/linked %></span>
    </a>
  </li>
