<% if (isDropboxConfigured) { %>
<li>
  <% if (isDropboxAuth) { %>
    <a href="/unlink/dropbox">Unlink
  <% } else { %>
    <a href="/redirect/dropbox" class="import-dropbox unlinked">Link with
  <% } %>
    <span>Dropbox</span>
    <span class="icon icon-link"><%- include ../icons/linked %></span>
  </a>
</li>
<% } %>

<% if (isBitbucketConfigured) { %>
<li ng-controller="Bitbucket as bitbucket">
  <% if (isBitbucketAuth) { %>
    <a href="/unlink/bitbucket">Unlink
  <% } else { %>
    <a class="import-bitbucket unlinked" href="/redirect/bitbucket">Link with
  <% } %>
    <span>Bitbucket</span>
    <span class="icon icon-link"><%- include ../icons/linked %></span>
  </a>
</li>
<% } %>

<% if (isGithubConfigured) { %>
<li ng-controller="Github as github">
  <% if (isGithubAuth) { %>
    <a href="/unlink/github">Unlink
  <% } else { %>
    <a class="import-github unlinked" ng-click="github.chooseScope()">Link with
  <% } %>
    <span>Github</span>
    <span class="icon icon-link"><%- include ../icons/linked %></span>
  </a>
</li>
<% } %>

<% if (isMediumConfigured) { %>
<li>
  <% if (isMediumAuth) { %>
    <a href="/unlink/medium">Unlink
  <% } else { %>
    <a href="/redirect/medium" class="import-medium unlinked">Link with
  <% } %>
    <span>Medium</span>
    <span class="icon icon-link"><%- include ../icons/linked %></span>
  </a>
</li>
<% } %>

<% if (isGoogleDriveConfigured) { %>
<li>
  <% if (isGoogleDriveAuth) { %>
    <a href="/unlink/googledrive">Unlink
  <% } else { %>
    <a href="/redirect/googledrive" class="import-google-drive unlinked">Link with
  <% } %>
    <span>Google Drive</span>
    <span class="icon icon-link"><%- include ../icons/linked %></span>
  </a>
</li>
<% } %>

<% if (isOneDriveConfigured) { %>
<li>
  <% if (isOneDriveAuth) { %>
    <a href="/unlink/onedrive">Unlink
  <% } else { %>
    <a href="/redirect/onedrive" class="import-one-drive unlinked">Link with
  <% } %>
    <span>One Drive</span>
    <span class="icon icon-link"><%- include ../icons/linked %></span>
  </a>
</li>
<% } %>
