<%- include notify %>
<%- include loading %>
<div id="main" class="bye">
  
  
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" href="#">Dillinger</a>
        <ul class="nav" role="navigation">
          
          <li class="dropdown">
            <%- include dropbox %>
          </li>
          
          <li class="dropdown">
            <%- include github %>
          </li>
          <!--
          <li class="dropdown">
            <%- include evernote %>
          </li>

          <li class="dropdown">
            <%- include google_drive %>
          </li>
          -->
        </ul>

        <ul class="nav pull-right">
          <li class="dropdown">
            <a href="#" id="drop5" role="button" class="dropdown-toggle" data-toggle="dropdown">Utilities <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop5">
              <li><a tabindex="-1" href="#" id="export_md"><i class="icon-download"></i>&nbsp;Export as Markdown File</a></li>
              <li><a tabindex="-1" href="#" id="export_html"><i class="icon-download"></i>&nbsp;Export as HTML File</a></li>
              <li><a tabindex="-1" href="#" id="reset"><i class="icon-refresh"></i>&nbsp;Reset Current Profile</a></li>
              <li><a tabindex="-1" href="#" id="autosave"><i class="icon-remove"></i>&nbsp;Disable Autosave</a></li>
              <li><a tabindex="-1" href="#" id="preferences"><i class="icon-cog"></i>&nbsp;Preferences</a></li>
              <li><a tabindex="-1" href="#" id="about"><i class="icon-question-sign"></i>&nbsp;WTF is Dillinger?</a></li>
            </ul>
          </li>
        </ul>

        <ul class="nav pull-right">
          <li class="dropdown">
            <a href="#" id="drop6" role="button" class="dropdown-toggle" data-toggle="dropdown">Select Your Theme <b class="caret"></b></a>
            <ul id="theme-list" class="dropdown-menu" role="menu" aria-labelledby="drop6">
              <li><a tabindex='-1' href="#" data-value="ace/theme/chrome">Chrome</a></li>
              <li><a tabindex='-1' href="#" data-value="ace/theme/clouds">Clouds</a></li>
              <li><a tabindex='-1' href="#" data-value="ace/theme/clouds_midnight">Clouds Midnight</a></li>
              <li><a tabindex='-1' href="#" data-value="ace/theme/cobalt">Cobalt</a></li>
              <li><a tabindex='-1' href="#" data-value="ace/theme/crimson_editor">Crimson Editor</a></li>
              <li><a tabindex='-1' href="#" data-value="ace/theme/dawn">Dawn</a></li>
              <li><a tabindex='-1' href="#" data-value="ace/theme/dawn">Dreamweaver</a></li>
              <li><a tabindex='-1' href="#" data-value="ace/theme/eclipse">Eclipse</a></li>
              <li><a tabindex='-1' href="#" data-value="ace/theme/idle_fingers">idleFingers</a></li>
              <li><a tabindex='-1' href="#" data-value="ace/theme/kr_theme">krTheme</a></li>
              <li><a tabindex='-1' href="#" data-value="ace/theme/merbivore">Merbivore</a></li>
              <li><a tabindex='-1' href="#" data-value="ace/theme/merbivore_soft">Merbivore Soft</a></li>
              <li><a tabindex='-1' href="#" data-value="ace/theme/mono_industrial">Mono Industrial</a></li>
              <li><a tabindex='-1' href="#" data-value="ace/theme/monokai">Monokai</a></li>
              <li><a tabindex='-1' href="#" data-value="ace/theme/pastel_on_dark">Pastel on Dark</a></li>
              <li><a tabindex='-1' href="#" data-value="ace/theme/solarized_dark">Solarized Dark</a></li>
              <li><a tabindex='-1' href="#" data-value="ace/theme/solarized_light">Solarized Light</a></li>
              <li><a tabindex='-1' href="#" data-value="ace/theme/textmate">TextMate</a></li>
              <li><a tabindex='-1' href="#" data-value="ace/theme/tomorrow">Tomorrow</a></li>
              <li><a tabindex='-1' href="#" data-value="ace/theme/tomorrow_night">Tomorrow Night</a></li>
              <li><a tabindex='-1' href="#" data-value="ace/theme/tomorrow_night_blue">Tomorrow Night Blue</a></li>
              <li><a tabindex='-1' href="#" data-value="ace/theme/tomorrow_night_bright">Tomorrow Night Bright</a></li>
              <li><a tabindex='-1' href="#" data-value="ace/theme/tomorrow_night_eighties">Tomorrow Night 80s</a></li>
              <li><a tabindex='-1' href="#" data-value="ace/theme/twilight">Twilight</a></li>
              <li><a tabindex='-1' href="#" data-value="ace/theme/vibrant_ink">Vibrant Ink</a></li>
            </ul>
          </li>
        </ul>
        
      </div>
    </div>
  </div>
  
  <div id="app_wrap" class="container-fluid">
    <div id="editor"><%- readme %>
    </div>
    <div id="filename">
      <span contenteditable="true">foo</span>
    </div>
    <div id="preview" class="shadowbox"></div>
  </div> <!-- end #app_wrap -->
</div> <!-- end #main -->
<iframe id="downloader" class="hide"></iframe>
<div id="modal-generic" class="modal hide fade in">
  <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3></h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
  </div>
</div>