<div class="navbar">

  <menu-toggle></menu-toggle>

  <h1 class="navbar-brand">
    <a class="brand" href="/"><%- include icons/branding %></a>
  </h1>

  <nav class="nav nav-right">
    <ul class="menu menu-utilities">
      <li class="menu-item menu-item--export-as has-dropdown">
        <a href="#" data-toggle="dropdown">Export as <span class="caret"></span></a>
        <%- include dropdowns/export_as %>
      </li>
      <li class="menu-item menu-item--save-to has-dropdown">
        <a href="#" data-toggle="dropdown">Save to <span class="caret"></span></a>
        <%- include dropdowns/save_to %>
      </li>
      <li class="menu-item menu-item--import-from has-dropdown">
        <a href="#" data-toggle="dropdown">Import from <span class="caret"></span></a>
        <%- include dropdowns/import_from %>
      </li>
      <li class="menu-item menu-item-icon menu-item--preview">
        <a class="menu-link menu-link-preview" href="#preview" preview-toggle>
          <i class="icon icon-preview"><%- include icons/preview %></i>
          <span class="sr-only">Preview</span>
        </a>
      </li>
      <li class="menu-item menu-item-icon menu-item--settings">
        <a class="menu-link menu-link-settings" href="#settings" settings-toggle>
          <i class="icon icon-settings"><%- include icons/settings %></i>
          <span class="sr-only">Settings</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
